.btn_plus_action{
    background-color: #fff!important;
    padding: 5px!important;
    --bs-btn-padding-x: 0.5rem!important;;
    --bs-btn-padding-y: 0.5rem!important;;
}

.btn_add_service{
    background-color: #003239!important;
    padding: 10px;
    --bs-btn-padding-x: 0.5rem!important;;
    --bs-btn-padding-y: 0.5rem!important;;
}

.text_menu_icon{
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.icon_modal_menu{
    background: #003239;
    padding: 10px;
    border-radius: 13px;
    color:#fff;
    margin-right: 15px;
    margin-top: 15px;
}

.btn_close_modal{
    position: absolute!important;
    right: 0!important;
    top: 0px!important;
    background: #003239!important;
}

.custom_badg{
    padding: 15px;
    width: 15px;
    height: 15px;
    color: transparent!important;
    margin-left: 5px;
}


.dataTables_wrapper {
    color: #fff!important;
}

label, .form-label {
    color: #fff!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff!important;
}

.content_label_estatus{
    background: #80CED7;
    padding: 10px 30px 10px 30px;
    border-radius: 16px;
    color: #003249!important;
    font-weight: 800!important;
    width: 200px;
}

.image_label_estatus{
    width: 30px;
    margin-left: 30px;
}

.btn_save_estatus{
    background: #fff;
    color: #003249;
    padding: 10px 30px 10px 30px;
    /* width: 400px; */
    border-radius: 16px;
    border: solid 3px transparent;
    margin-left: 60px;
}
